{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current" // Ensures Node.js compatibility
          }
        }
      ],
      "@babel/preset-react"
    ]
  }
  