.back-button {
  background-color: transparent;
  color: #1f4843;
  font-weight: 600;
  display: inline-block;
  padding: 12px 20px;
  margin: 0;
  border-radius: 8px;
  text-decoration: none;
}

.register-menu-form form {
  display: flex;
  flex-direction: column;
}

.register-menu-form h2 {
  text-align: center;
  font-size: 28px;
  color: #1f4843;
  font-weight: 800;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-group {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}


.remove-item-button {
  background-color: transparent;
  color: rgb(177, 30, 30);
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.remove-item-button:hover {
  background-color: rgb(177, 30, 30);
  color: white;
}

.preco-categoria {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 0;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkbox-label input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #1f4843;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #1f4843;
}

select {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: white;
  color: #1f4843;
  outline: none;
  transition: border-color 0.3s ease;
}

.preco-categoria label {
  flex: 1;
}

.rmf-button {
  background-color: rgb(65, 151, 65);
}
.rmf-button:hover {
  background-color: rgb(50, 128, 50);
}